* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: sans-serif;
}

#sidebar {
    padding: 10;
    background-color: lightgray;
    height: 100vh;
    width: 13em;

    header {
        text-align: center;
        font-size: 1.2em;
        margin: 1em;
    }

    #links ul {
        margin-top: 0;
        padding-left: 2em;
    }

    #user-info form {
        display: inline-block;
    }

    #search {
        margin: 3em 0;
        border: 1px solid #00000050;
        padding: 0.1em;

        form > * {
            display: block;
            margin: 0.2em auto;
        }
    }
}

#content {
    padding: 10;
    overflow-y: scroll;

    flex: 1;
}

.link-input {
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

/* specific pagesat-exp racket */

#content:has(> .error-page) {
    display: flex;
}

.error-page {
    margin: auto;
    text-align: center;
    
    .summary {
        font-size: 1.5em;
    }
}

/* login page */
#content:has(> #login-page) {
    display: flex;
}

#login-page {
    margin: auto;
    text-align: center;
    label {
        display: block;
    }
    * {
        margin: 0.5em;
    }
}
