* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: sans-serif;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 0.3rem;
}

#sidebar {
    padding: 10;
    background-color: lightgray;
    height: 100vh;
    width: 13em;

    header {
        text-align: center;
        font-size: 1.2em;
        margin: 1em;
    }

    #links ul {
        margin-top: 0;
        padding-left: 2em;
    }

    #user-info form {
        display: inline-block;
    }

    #search {
        margin: 3em 0;
        border: 1px solid #00000050;
        padding: 0.1em;

        form {
            margin: 0;
        }

        form > * {
            display: block;
            margin: 0.2em auto;
        }
    }
}

#content {
    padding: 10;
    overflow-y: scroll;

    flex: 1;
}

.link-input {
    background-color: transparent;
    color: blue;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* specific pagesat-exp racket */

#content:has(> .error-page) {
    display: flex;
}

.error-page {
    margin: auto;
    text-align: center;
    
    .summary {
        font-size: 1.5em;
    }
}

/* login page */
#content:has(> #login-page) {
    display: flex;
}

#login-page {
    margin: auto;
    text-align: center;
    label {
        display: block;
    }
    * {
        margin: 0.5em;
    }
}

#article-base > nav {
    margin: 0;
    border-bottom: 1px solid #777;
    padding-bottom: 0.3em;
    ul {
        display: flex;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        li {
            margin: 0.2em;
            display: inline;
        }

        .align-1r {
            margin-left: auto;
        }
    }
}

#article-page {
    form {
        label { display: block }
        * { margin: 0.3em; }
        .article-content-section {
            width: 100%;
            textarea { display: block; width: 100%; }
        }

        .article-content-upload {
            display: none;
        }
    }
}

#article-page:has(option[data-binary]:checked) {
    .article-content-section { display: none; }
    .article-content-upload { display: inline; }
}

#article-view {
    h1, h2 {
        font-weight: normal;
        text-decoration: underline 3px lightgray;
        text-underline-offset: 0.15em;
    }

    h1 { font-size: 1.9em; }
    h2 { font-size: 1.4em; }

    #toc {
        display: block;
        background-color: #eeeeee;
        width: fit-content;
        padding: 0.5em;
        margin: 0.5em;
        h3 {
            text-align: center;
            font-size: 1rem;
            margin: 0;
            margin-bottom: 0.5em;
        }
        ol {
            padding-top: 0; padding-bottom: 0;
            margin-top: 0; margin-bottom: 0;
        }
        > ol {
            padding-left: 2em;
        }
        border: 1px solid black;
    }

    #main-image {
        max-width: 30rem;
    }
}
